<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Аксессуары</title>
  <link href='/img/logo.png' rel='icon' type='image/x-icon'>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class='wrapper'>
  <img src='../static/img/menu.png' class='burger' onclick='openBurger()' alt="Не удалось загрузить картинку">
  <header class="header">
    <div class="logo" onclick="goToMainPage()">
        <img class="image" src="../static/img/logo.png" alt="Logo">
        <div class="header-title">
            <h1>Всякая всячина</h1>
        </div>
    </div>
</header>
    <div class='burger-content'>
    <nav class="nav-links burger-content hide">
        <a href="index" title="Главная">Главная</a>
        <div class='opener'>
            <a href="store" title="Товары">Товары</a>
            <div class='opener-content'>
                <a href="furniture" title="Мебель">Мебель</a>
                <a href="accessories" title="Аксессуары">Аксессуары</a>
                <a href="electronics" title="Электроника">Электроника</a>
            </div>
        </div>
        <a href="information" title="О нас">О нас</a>
        <a href="siteMap" title="Карта сайта">Карта сайта</a>
        <a href="siteNews" title="Новости сайта">Новости сайта</a>
        {% if not current_user %}
        <a href="signup" title="Регистрация">Регистрация</a>
        <a href="login" title="Войти">Войти</a>
        {% endif %}
        {% if current_user %}
        <a href="logout" title="Выйти">Выйти</a>
        <a href="shopList" title="Корзина">Корзина</a>
        {% endif %}
    </nav>
    </div>
  <div class="goodsContainer">
  {% for el in accs %}
    <div class="good">
    <img class="imageGood" src="../static/img/image{{el.id}}.png" alt="No image">
    <div>Наименование товара:</div>
    <div style="margin: 0 0 10px 0">{{ el.good }}</div>
    <div>Цена:{{ el.cost }} р.</div>
    <!--<a href="accessories/{{el.id}}">Перейти к странице товара </a> -->
    <button class="customButton" onclick=goToGoodPage("accessories/{{el.id}}")><div class="customButtonText">Перейти на страницу товара</div></button>
    </div>
  {% endfor %}
  </div>
  <button onclick="scrollToTop()" id="scrollTopButton" title="Наверх">&#8679;</button>
  <script src="../static/js/main.js"></script>
</div>
</body>
<div class='footer'>
    <p>Email: info@vasyavashego.ru</p>
    <p>Телефон +7 123 456-7890</p>
    <a onclick=redirectToVk()>ВКонтакте</a>
    <a onclick=redirectToTg()>Telegram</a>
</div>
</html>