<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная страница</title>
  <link href='/img/logo.png' rel='icon' type='image/x-icon'>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class='wrapper'>
    <img src='../static/img/menu.png' class='burger' onclick='openBurger()'>
    <header class="header">
    <div class="logo" onclick="goToMainPage()">
        <img class="image" src="../static/img/logo.png" alt="Logo">
        <div class="header-title">
            <h1>Всякая всячина</h1>
        </div>
    </div>
</header>
    <div class='burger-content'>
    <nav class="nav-links burger-content hide">
        <a href="index" title="Главная">Главная</a>
        <div class='opener'>
            <a href="store" title="Товары">Товары</a>
            <div class='opener-content'>
                <a href="furniture" title="Мебель">Мебель</a>
                <a href="accessories" title="Аксессуары">Аксессуары</a>
                <a href="electronics" title="Электроника">Электроника</a>
            </div>
        </div>
        <a href="information" title="О нас">О нас</a>
        <a href="siteMap" title="Карта сайта">Карта сайта</a>
        <a href="siteNews" title="Новости сайта">Новости сайта</a>
        {% if not current_user %}
        <a href="signup" title="Регистрация">Регистрация</a>
        <a href="login" title="Войти">Войти</a>
        {% endif %}
        {% if current_user %}
        <a href="logout" title="Выйти">Выйти</a>
        <a href="shopList" title="Корзина">Корзина</a>
        {% endif %}
    </nav>
    </div>
    <main>
        <div class="section">
            <div class='text-content'>
                <h2>Магазин Всякая всячина</h2>
                <p class='paragrapgh'>Добро пожаловать в магазин "Всякая всячина"! Мы - ваш источник удивительных и разнообразных товаров, которые удовлетворят любые ваши потребности.
                    У нас вы найдете все, от практичных предметов быта до уникальных подарков и коллекционных предметов. Независимо от того, ищете ли вы что-то для себя или хотите сделать особенный подарок другому человеку, мы готовы помочь вам.
                    Наш магазин предлагает широкий выбор товаров, включая кухонные принадлежности, электронику, модные аксессуары, игрушки, предметы интерьера и многое другое. У нас есть что-то для каждого!
                    Мы гордимся тем, что предлагаем качественные товары по доступным ценам. Наша команда постоянно следит за новыми тенденциями и обновляет ассортимент, чтобы удовлетворить ваши самые взыскательные потребности.
                    Всякий раз, когда вы посещаете наш магазин, мы стремимся сделать ваше покупательское испытание приятным и комфортным. Наш дружелюбный персонал всегда готов помочь вам с выбором товара или ответить на любые вопросы, которые у вас могут возникнуть.
                    Посетите наш магазин "Всякая всячина" сегодня и окунитесь в удивительный мир разнообразия и возможностей! Мы уверены, что вы найдете здесь что-то особенное, что добавит радость и удовлетворение в вашу жизнь.
                </p>
            </div>
            <div class="ad-content" onclick="redirectToAviasales()">
                <img class="adImage" src="../static/img/travel.png" alt="Good Image">
            </div>
        </div>
        <div class="section">
            <div class="ad-content" onclick="redirectToDom()">
                <img class="adImage" src="../static/img/house.png" alt="Good Image">
            </div>
            <div class='text-content'>
                <h2>Скидки постоянным клиентам</h2>
                <p class='paragrapgh'>Мы ценим наших постоянных клиентов, и поэтому рады предложить вам особые привилегии в виде наших программ скидок!
                    Наша команда хочет поблагодарить вас за вашу преданность и долгосрочную поддержку. Мы знаем, что ваше доверие и выбор нашего магазина имеют огромное значение, и поэтому мы стремимся создавать максимально выгодные условия для наших постоянных клиентов.
                    Как постоянный клиент, вы будете получать эксклюзивные скидки и специальные предложения, которые не доступны для остальных покупателей. Мы уделяем особое внимание вашим потребностям и предлагаем вам дополнительные возможности экономить и получать больше ценных товаров.
                    Наша программа лояльности основана на вашей активности и покупках в нашем магазине. Чем больше вы делаете покупок, тем больше скидок и привилегий вы получаете. Мы ценим ваше участие и готовы вознаградить вас за вашу постоянную поддержку.
                    Кроме того, мы регулярно устраиваем специальные акции и сезонные распродажи, на которых постоянным клиентам предоставляются дополнительные скидки и бонусы. Мы хотим, чтобы вы всегда ощущали себя особенными и получали максимальную выгоду от своих покупок.
                    Не забывайте следить за нашими обновлениями и рассылками, чтобы быть в курсе всех специальных предложений и скидок, предназначенных специально для вас.
                </p>
            </div>
        </div>
        <div class="section">
            <div class='text-content'>
                <h2>Ассортимент товаров</h2>
                <p class='paragrapgh'>Мы гордимся разнообразием и широтой нашего ассортимента, который предлагает для вас множество уникальных и качественных товаров.
                    Наш магазин предлагает широкий выбор продуктов и предметов, чтобы удовлетворить различные потребности наших клиентов. У нас вы найдете все, от повседневных необходимостей до эксклюзивных предметов, которые добавят нотку индивидуальности и стиля в вашу жизнь.
                    Мы тщательно отбираем товары, чтобы предложить вам только самые лучшие и надежные бренды. Наш ассортимент включает товары для дома, кухни, спорта и отдыха, электронику, моду, косметику, игрушки, книги, аксессуары и многое другое.
                    Не важно, ищете ли вы что-то практичное и функциональное или же ищете особенный подарок для себя или для близкого человека, мы гарантируем, что у нас есть что-то, что соответствует вашим вкусам и предпочтениям.
                    Мы также постоянно обновляем наш ассортимент, следя за последними тенденциями и новинками рынка. Мы стремимся предлагать вам только актуальные и современные товары, чтобы вы всегда были в курсе последних тенденций и имели доступ к самым инновационным решениям.
                    Наша цель - сделать ваше покупательское испытание удобным и приятным.
</p>
            </div>
            <div class="ad-content" onclick="redirectToWildberries()">
                <img class="adImage" src="../static/img/ild.png" alt="Good Image">
            </div>
        </div>
        <div class="section">
            <div class="ad-content" onclick="redirectToOzon()">
                <img class="adImage" src="../static/img/ozon.png" alt="Good Image">
            </div>
            <div class='text-content'>
                <h2>Партнерство с зарубежными компаниями</h2>
                <p class='paragrapgh'>Мы гордимся тем, что имеем партнерские отношения с ведущими зарубежными компаниями, чтобы предложить вам ещё больше качественных и инновационных продуктов.
                    Наши партнерства с зарубежными компаниями позволяют нам расширить наш ассортимент и предложить вам товары, которые отличаются высоким качеством, надежностью и современным дизайном. Мы тщательно выбираем наших партнеров, устанавливая с ними долгосрочные и взаимовыгодные отношения.
                    Благодаря нашим партнерам мы можем предложить вам доступ к продуктам и брендам, которые пользуются мировым признанием и популярностью. Это включает в себя товары из различных отраслей, таких как электроника, мода, косметика, спорт и отдых, и многое другое.
                    Наши зарубежные партнеры являются лидерами в своих сферах и всегда стремятся предложить инновационные и передовые решения. Мы внимательно следим за новыми тенденциями и рыночными трендами, чтобы обеспечить вам доступ к самым актуальным и современным продуктам.
                    Мы также ценим культурное разнообразие и уникальность товаров, которые предлагают наши партнеры. Это позволяет нам предлагать вам уникальные и эксклюзивные товары, которые вы не найдете в других магазинах.
                    Мы гордимся нашими партнерскими отношениями и стремимся создать для вас максимально выгодные условия. Это включает в себя конкурентные цены, эксклюзивные акции и предложения, а также обеспечение высокого уровня обслуживания и поддержки.
                </p>
            </div>
        </div>
    </main>
    <button onclick="scrollToTop()" id="scrollTopButton" title="Наверх">&#8679;</button>
  <script src="../static/js/main.js"></script>
</div>
</body>
<div class='footer'>
    <p>Email: info@vasyavashego.ru</p>
    <p>Телефон +7(123)456-7890</p>
    <a onclick=redirectToVk()>ВКонтакте</a>
    <a onclick=redirectToTg()>Telegram</a>
</div>
</html>