<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Новости сайта</title>
  <link href='../static/img/logo.png' rel='icon' type='image/x-icon'>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class='wrapper'>
    <img src='../static/img/menu.png' class='burger' onclick='openBurger()'>
    <header class="header">
    <div class="logo" onclick="goToMainPage()">
        <img class="image" src="../static/img/logo.png" alt="Logo">
        <div class="header-title">
            <h1>Всякая всячина</h1>
        </div>
    </div>
</header>
    <div class='burger-content'>
    <nav class="nav-links burger-content hide">
        <a href="index" title="Главная">Главная</a>
        <div class='opener'>
            <a href="store" title="Товары">Товары</a>
            <div class='opener-content'>
                <a href="furniture" title="Мебель">Мебель</a>
                <a href="accessories" title="Аксессуары">Аксессуары</a>
                <a href="electronics" title="Электроника">Электроника</a>
            </div>
        </div>
        <a href="information" title="О нас">О нас</a>
        <a href="siteMap" title="Карта сайта">Карта сайта</a>
        <a href="siteNews" title="Новости сайта">Новости сайта</a>
        {% if not current_user %}
        <a href="signup" title="Регистрация">Регистрация</a>
        <a href="login" title="Войти">Войти</a>
        {% endif %}
        {% if current_user %}
        <a href="logout" title="Выйти">Выйти</a>
        <a href="shopList" title="Корзина">Корзина</a>
        {% endif %}
    </nav>
    </div>
    <main>
        <div class="section">
            <div class='text-content'>
                    <h2>Дорогие наши покупатели!</h2>
                <p class='paragrapgh'>Мы с радостью сообщаем вам, что в нашем магазине мебели произошло новое поступление!
                Ждите встречи с самыми стильными и комфортными предметами обстановки для вашего дома. Мы тщательно отобрали для вас новые товары,
                которые превратят ваше пространство в настоящий рай.В числе наших новых поступлений вы найдете:</p>
                <p class='paragrapgh'>Табурет Легенда: Он станет отличным дополнением для вашей кухни или барной стойки. Наши табуреты сочетают в себе элегантность и удобство.
                Выбирайте из разнообразных дизайнов, цветов и материалов, чтобы подобрать тот, который идеально впишется в ваш интерьер.</p>
                <p class='paragrapgh'>Кровать Star Grey: Мы предлагаем вам широкий выбор кроватей, от классических до современных моделей. Независимо от вашего стиля, у нас есть кровать,
                которая поможет вам создать уютную атмосферу в спальне. Отдыхайте с комфортом и стилем на наших качественных кроватях.
                </p>
            </div>
            <div class="ad-content" onclick="goToNewItemPage()">
                <img class="adImage" src="../static/img/image2.png" alt="Good Image">
            </div>
        </div>
        <div class="section">
            <div class="ad-content" onclick="redirectToDom()">
                <img class="adImage" src="../static/img/house.png" alt="Good Image">
            </div>
            <div class='text-content'>
                <h2>Мы ускорили поставки товаров</h2>
                <p class='paragrapgh'>Мы рады сообщить вам об одном захватывающем обновлении в нашем магазине. Мы с гордостью объявляем,
                что мы ускорили поставки товаров из-за рубежа! Теперь вы можете насладиться широким ассортиментом товаров, прямо сейчас, без долгого ожидания.</p>
                <p class='paragrapgh'>Мы понимаем, что ваше время ценно, и стремимся удовлетворить все ваши потребности в максимально короткие сроки. Наша команда трудится над
                обеспечением более быстрых и эффективных поставок, чтобы вы могли сделать покупку, о которой мечтали, и получить ее быстрее, чем когда-либо прежде.</p>
                <p class='paragrapgh'>Теперь, когда мы ускорили поставки, вы можете ожидать новейшие и качественные товары из разных уголков мира на наших полках.
                Мы постарались выбрать лучшие бренды и предложить вам разнообразие стилей, чтобы удовлетворить самые изысканные вкусы.</p>
            </div>
        </div>
    </main>
    <button onclick="scrollToTop()" id="scrollTopButton" title="Наверх">&#8679;</button>
  <script src="../static/js/main.js"></script>
</div>
</body>
<div class='footer'>
    <p>Email: info@vasyavashego.ru</p>
    <p>Телефон +7(123)456-7890</p>
    <a onclick=redirectToVk()>ВКонтакте</a>
    <a onclick=redirectToTg()>Telegram</a>
</div>
</html>