<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Карта сайта</title>
  <link href='../static/img/logo.png' rel='icon' type='image/x-icon'>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div>
  <img src='../static/img/menu.png' class='burger' onclick='openBurger()'>
  <header class="header">
    <div class="logo" onclick="goToMainPage()">
      <img class="image" src="../static/img/logo.png" alt="Logo">
      <div class="header-title">
        <h1>Всякая всячина</h1>
      </div>
    </div>
  </header>
  <div class='burger-content'>
  <nav class="nav-links burger-content hide">
        <a href="index" title="Главная">Главная</a>
        <div class='opener'>
            <a href="store" title="Товары">Товары</a>
            <div class='opener-content'>
                <a href="furniture" title="Мебель">Мебель</a>
                <a href="accessories" title="Аксессуары">Аксессуары</a>
                <a href="electronics" title="Электроника">Электроника</a>
            </div>
        </div>
        <a href="information" title="О нас">О нас</a>
        <a href="siteMap" title="Карта сайта">Карта сайта</a>
        <a href="siteNews" title="Новости сайта">Новости сайта</a>
        {% if not current_user %}
        <a href="signup" title="Регистрация">Регистрация</a>
        <a href="login" title="Войти">Войти</a>
        {% endif %}
        {% if current_user %}
        <a href="logout" title="Выйти">Выйти</a>
        <a href="shopList" title="Корзина">Корзина</a>
        {% endif %}
    </nav>
    </div>
  <div class="section">
    <section class="text-content about">
      <h2>Карта сайта</h2>
      <ul>
        <li><a href="index" title="Главная">Главная</a></li>
        <li><a href="store" title="Товары">Товары</a>
            <ul>
                <li><a href="furniture" title="Мебель">Мебель</a></li>
                <li><a href="accessories" title="Аксессуары">Аксессуары</a></li>
                <li><a href="electronics" title="Электроника">Электроника</a></li>
            </ul>
        </li>
        <li><a href="information" title="О нас">О нас</a></li>
        <li><a href="siteMap" title="Карта сайта">Карта сайта</a></li>
        <li><a href="siteNews" title="Новости сайта">Новости сайта</a></li>
      </ul>
    </section>
    <div class="section">
            <div class="ad-content2" onclick="redirectToOzon()">
                <img class="adImage2" src="../static/img/ozon2.png" alt="Good Image">
            </div>
    </div>
    <div class="ad-content3" onclick="redirectToOzon()">
      <img class="adImage" src="../static/img/ozon.png" alt="Good Image">
    </div>
    <button onclick="scrollToTop()" id="scrollTopButton" title="Наверх">&#8679;</button>
    <script src="../static/js/main.js"></script>
  </div>
</body>
<div class='footer'>
    <p>Email: info@vasyavashego.ru</p>
    <p>Телефон +7 123 456-7890</p>
    <a onclick=redirectToVk()>ВКонтакте</a>
    <a onclick=redirectToTg()>Telegram</a>
</div>
</html>